---
DEFAULT:
  ROOT_DATA_DIR: "./data-for-designer"
  EXCEL_DIR: "/excel/"
GITSERVER:
  EMAIL: spbot@snowpipe.co.kr
  USER: spbot
  URL: http://local.snowpipe:3000/SPTeam/data-for-designer.git
  PUSH_MSG: 'Chore: Auto Push from SPTeam Bot'
DATABASE:
  LOCAL: sqlserver://local.snowpipe:1433;database=data_db;user=sa;password=pass;encrypt=DANGER_PLAINTEXT
  DEV: sqlserver://local.snowpipe:1433;database=data_db;user=sa;password=pass;encrypt=DANGER_PLAINTEXT
  DEV2: sqlserver://local.snowpipe:1433;database=data_db;user=sa;password=pass;encrypt=DANGER_PLAINTEXT
  QA: sqlserver://local.snowpipe:1433;database=data_db;user=sa;password=pass;encrypt=DANGER_PLAINTEXT
  QA2: sqlserver://local.snowpipe:1433;database=data_db;user=sa;password=pass;encrypt=DANGER_PLAINTEXT
  QA3: sqlserver://local.snowpipe:1433;database=data_db;user=sa;password=pass;encrypt=DANGER_PLAINTEXT
